img {
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.film-data{
    margin-top: 50px;
}

.discussion-container{
    padding: 10px;
}

.discussion-item{
    border-radius: 6px;
}

.link{
    color: #696a6d;
}

.link:hover{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.link:active{
    text-decoration: none;
    color: black;
}

.discussion-item:hover{
    background-color: #e8e9ea;
}

.centered{
    text-align: center;
}

.comment-container{
    padding: 5px;
}

.comment-item{
    margin-top: 3px;
    margin-bottom: 3px;
}

.additional-info{
    border-right: 1px solid lightgray;
}

.additional-info:hover{
    border-radius: 6px;
    background-color: #eaecef;
}