{% extends 'layout.html' %} {% block title %} Add/Edit {% endblock %} {% block content %}
<h1>
    Add/Edit task
</h1>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{ form.errors }}
</div>
{% endif %}
<form method="POST" enctype="multipart/formdata" class="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_title">Title</label>
        <input class="form-control" type="text" name="title" value="{{ form.instance.title }}" required="" id="id_title" maxlength="200">
    </div>
    <div class="form-group">
        <label for="id_description">Description:</label>
        <textarea class="form-control" name="description" id="id_description" required="" rows="10" cols="40" maxlength="1000">{{ form.instance.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="id_category">Category:</label>
        <select name="category" class="form-control" required="" id="id_category">
            {% for value, display in form.fields.category.choices %}
                <option value="{{ value }}" 
                        {% if value == form.instance.category %} 
                            selected 
                        {% endif %}>
                    {{ display }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_deadline">Deadline:</label>
        <div class='input-group date' id='id_deadline'>
            <input type='text' class="form-control" name="deadline" 
                   value="{{ form.instance.deadline|date:'m/d/Y h:i A' }}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="id_group">Group:</label>
        <select class="form-control" name="group" required="" id="id_group">
            {% for value, display in form.fields.group.choices %}
                <option value="{{ value }}"
                        {% if value == form.instance.group.pk %} 
                            selected 
                        {% endif %}>
                    {{ display }}
                </option>            
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_responsible">Responsible:</label>
        <select class="form-control" name="responsible" id="id_responsible">
            {% for value, display in form.fields.responsible.choices %}
                <option value="{{ value }}"
                        {% if value == form.instance.responsible.pk %} 
                            selected 
                        {% endif %}>
                    {{ display }}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %} {% block scripts %}
<script type="text/javascript">
    $(function() {
        $('#id_deadline').datetimepicker();
    });
</script>
{% endblock %}