{% extends 'layout.html' %} 

{% block title %}{{ actor.name }}{% endblock %} 

{% block content %}
<div>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h1> {{ actor.name }} </h1> 
          
                <h4 class="media-heading">
                    Age: {{actor.age}}
                </h4>
            <div class="btn-group" style="float:right;">
           </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                
                </div>
                <div class="media-body">
                <h4 class="media-heading">
                    {% for category in film.category.all %}
                   {{ category.name }}{% if not forloop.last%},{% endif%}{% endfor %}
                </h4>
                <div class="media-left">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                    <a href="#">
		           <img src="{{ actor.image.url }}">
		           </a>
		       </div>
                {{actor.bio}}
                <div class="clearfix"></div>
                <div class="btn-group" role="group">  </div>                 
               </div>
               <div>
                            
                <div class="panel panel-default discussion-container">
                    
                            {% for film in actor.film_set.all %}
                <div class="row discussion-container">
                    <div class="col-lg-2 col-md-2 discussion-item">
                      
                    <a href="{% url 'film_detail' pk=film.pk %}">
                         <img style="width:100px;" src="{{ film.image.url }}"> </a>
                    </div>
                    <div class="col-lg-2 col-md-2 discussion-item">
		           
                        <strong>
                    <a href="{% url 'film_detail' pk=film.pk %}"> {{film.name}} </a></strong> <!---->
                    <div>
                    {% for category in film.category.all %}
                   {{ category.name }}{% if not forloop.last%},{% endif%}{% endfor %}</div>
                    </div>
                    <div class="col-lg-4 col-md-3 discussion-item">
                        <strong>{{film.year}} </strong> <!---->
                    </div>
                </div>
                
            {% endfor %}
    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}