{% extends 'layout.html' %} 

{% block title %}{{ film.name }}{% endblock %} 

{% block content %}
<div>
    <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h1> <a href="#">{{ film.name }} ({{ film.year }})</a> </h1> 
          
                <h4 class="media-heading">Starring: 
                    {% for actor in film.cast.all %}
                   {{ actor.name }}
                   
                   {% if not forloop.last%},{% endif%}
                    {% endfor %}
                </h4>
            <div class="btn-group" style="float:right;">
           </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                
                </div>
                <div class="media-body">
                <h4 class="media-heading">
                    {% for category in film.category.all %}
                   {{ category.name }}
                   {% if not forloop.last%},{% endif%}
                    {% endfor %}
                </h4>
                <div class="media-left">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                    <a href="#">
		           <img src="{{ film.image.url }}">
		           </a>
		       </div>
                {{film.description}}
                <div class="clearfix"></div>
                <div class="btn-group" role="group">  </div>                 
               </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}