{% extends 'layout.html' %} 

{% block title %}{{ group.name }}{% endblock %} 

{% block content %}
<h1>{{ group.name }}</h1>

<a href="{% url 'task_create' %}">
    <button class="btn btn-primary">
        Add task
    </button>
</a>

<table class="table table-bordered table-hover">
    <caption>List of all tasks</caption>
    <thead class="thead">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Deadline</th>
            <th scope="col">Responsible</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in group.task_set.all %}
        <tr>
            <td>{{ task.pk }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.reponsible }}</td>
            <td>
                <a href="{% url 'task_detail' pk=task.pk %}">
                    <button class="btn btn-info">
                        Detalii
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <caption>List of all members</caption>
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Responsible</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in group.users.all %}
        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user == group.responsible %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
                {% endif %}
            </td>
            <td>
                <a href="#">
                    <button class="btn btn-info">
                        Detalii
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}