{% extends 'layout.html' %} 

{% block title %}IMDB{% endblock %} 

{% block content %}

<h1>PPB Movie Database</h1>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
            {% for film in films %}
		    <article>
		        <div class="row">
		            <div class="col-sm-6 col-md-4">
		            </div>
		            <div class="col-sm-6 col-md-8">
		                <!--<span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i> 50</span>-->
		                <h4>{{ film.name }}</h4>
		                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
		                <section>
		                    <i class="glyphicon glyphicon-calendar"></i> {{ film.year }}
		                    <i class="glyphicon glyphicon-eye-open"></i> 10000
		                </section>
		            </div>
		        </div>
            {% endfor %}
		    </article>
{% endblock %}