{% extends 'layout.html' %} {% block title %}Search Results{% endblock %}

{% block content %}
<h1>Search Results:</h1>
{% if films %}               
<div class="wrapper">
    {% for film in films %}
	<article>
		 <div class="row panel panel-default">
		      <div class="col-lg-4 col-sm-4 col-md-4">
		           <img src="{{ film.image.url }}">
		       </div>
		       <div class="col-lg-8 col-sm-8 col-md-8">
		           <!--<span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i> 50</span>-->
		           <h4> <a href="{% url 'film_detail' pk=film.pk %}"> {{ film.name }}</a></h4>
		           <p> {{ film.description }} </p>
		           <section>
		                <i class="glyphicon glyphicon-calendar"></i> {{ film.year }}
		                <i class="glyphicon glyphicon-eye-open"></i> {{ film.category.name }}
		           </section>
		       </div>
		   </div>
    {% endfor %}
	</article>
		    
{% else %}
    <p>NO Results, please search another movie</p>
{% endif %}

{% endblock %}