{% extends 'layout.html' %} 

{% block title %}{{ task.title }}{% endblock %} 

{% block content %}
<h1>{{ task.title }}</h1>
{% if task.responsible %}
    <h3>Responsible : {{ task.responsible }}</h3>
{% endif %}

<div class="row">
    <div class="col-sm-12 text-justify">
        {{ task.description }}
    </div>
</div>

<div class="row">
    <p class="col-sm-12">
        <strong>{{ task.get_category_display }} </strong>
        Task
    </p>
</div>

<div class="row">
    <p class="col-sm-12">
        <strong>
            Deadline : {{ task.deadline }}
        </strong>
    </p>
</div>

<div class="row">
    <div class="col-sm-6">
        <a href="{% url 'task_delete' pk=task.pk %}">
            <button class="btn btn-primary">
                Delete
            </button>
        </a>
    </div>
    <div class="col-sm-6">
        <div class="float-sm-right">
            <a href="{% url 'task_update' pk=task.pk %}">
                <button class="btn btn-primary">
                    Edit
                </button>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        Created at {{ task.created }}
    </div>
    <div class="col-sm-6">
        <div class="float-sm-right">
            Updated at {{ task.updated }}
        </div>
    </div>
</div>

{% endblock %}