{% extends 'layout.html' %} {% block title %}User Profile{% endblock %}

{% block content %}
<div class="container">
<h2> {{user.get_username}}</h2>

<div>
        
        <div class="panel panel-default discussion-container">
        {% if user.discussion_set.all %}
            {% for discussion in user.discussion_set.all %}
                <div class="row discussion-container">
                    <div class="col-lg-2 col-md-2 discussion-item">
                        <span class="glyphicon glyphicon-list-alt"></span> | 
                        {{ discussion.comment_set.all.count }} comments
                    </div>
                    <div class="col-lg-4 col-md-4 discussion-item">
                        <strong><a class="link" href="{% url 'discussion_detail' pk=discussion.pk %}"> {{ discussion.title }} </a> in {{discussion.film}}</strong>
                    </div>
                    <div class="col-lg-2 col-md-2 discussion-item">
                        <strong>Made by: </strong> {{ discussion.user }}
                    </div>
                    <div class="col-lg-4 col-md-4 discussion-item">
                        <strong>Creation date: </strong> {{ discussion.created_date }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="centered">You haven't been part of any discussion</div>
        {% endif %}
    </div>
    
</div>
</div>
{% endblock %}